* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.toggleButton {
  position: relative;
  margin-left: 20px;
}

.toggleButton input {
  display: none;
}

.toggleButton {
  --switchHeight: 1rem;
  --switchWidth: 2rem;
  --switchPadding: 0.1rem;
  --circleSize: calc(var(--switchHeight) - var(--switchPadding) * 2);
}

.toggleButton label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: var(--switchWidth);
  height: var(--switchHeight);
  border-radius: var(--switchHeight);
  background: #ccc;
  transition: 0.4s;
}

.toggleButton label:after {
  cursor: pointer;
  content: '';
  position: absolute;
  left: var(--switchPadding);
  top: 0;
  bottom: 0;
  margin: auto;
  width: var(--circleSize);
  height: var(--circleSize);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: 0.4s;
}

.toggleButton input:checked + label {
  background-color: #4bd865;
}

.toggleButton input:checked + label:after {
  left: calc(var(--switchWidth) - var(--circleSize) - var(--switchPadding));
}
